{# Upload action template for Photos controller #}
{% extends 'base.twig' %}

{% block content %}
    <hr>
    <h2 class="intro-text text-center">
       {{ 'Add photo'|trans }}
    </h2>
    <hr>
    <form action="{{ url('photos_upload', {'idad': idad|e}) }}" {{ form_enctype(form) }}
          method="post">
        {{ form_widget(form) }}
        <input type="submit" name="submit" class="btn btn-primary" value="{{ 'Save'|trans }}" />
        <a href="{{ url('/ads/') }}" class="btn btn-default">{{ 'Cancel'|trans }}</a>
    </form>
{% endblock %}