{# Delete action template for Ads controller #}
{% extends 'base.twig' %}
{% block title %}{{  'Delete ad'|trans }}{% endblock %}
{% block content %}
    <hr>
    <h1 class="intro-text text-center">
        {{ 'Delete ad'|trans }}
    </h1>
    <hr>
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h3>
            {{ 'Do you really want to delete this'|trans }}?
        </h3>
        <form action="{{ url('ads_delete', {'id' : ad.idad}) }}" method="post">
            {{ form_widget(form) }}
            <input class="btn btn-danger" type="submit" name="submit" value="{{ 'Delete'|trans }}" />
            <a href="{{ url('/ads/') }}" class="btn btn-default">{{ 'Cancel'|trans }}</a>
        </form>
    </div>
{% endblock %}

