{# Index action template for Ads controller #}
{% extends 'base.twig' %}
{% block title %}{{  'Advertising service'|trans }}{% endblock %}
{% block content %}
<div class="jumbotron">
    <h1 class="text-center">{{  'Advertising service'|trans }}</h1>
    <p class="text-center">{{  'What are you looking for'|trans }}?</p>
</div>
    {%  if ads|length > 0 %}
        <h2>
            {{ 'Newest advertisements'|trans }}:
        </h2>
        <div class="row">
        {% for ad in ads %}
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>
                        <a href="{{ url('ads_view', {'id': ad.idad|e}) }}" title="{{ 'View ad'|trans }}">
                        {{ ad.ad_name|e }}</a>
                    </h3>
                    <p>{{ ad.ad_contence|slice(0,20) }}...</p>
                    <p>
                        <a href="{{ url('ads_view', {'id': ad.idad}) }}" title="{{ 'View ad'|trans }}"
                            class="btn btn-primary" role="button">{{ 'View ad'|trans }}</a>

                        {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ url('ads_edit', {'id': ad.idad}) }}" title="{{ 'Edit ad'|trans }}"
                            class="btn btn-default" role="button">{{ 'Edit ad'|trans }}</a>
                        <br><br>
                        <a href="{{ url('ads_delete', {'id': ad.idad}) }}" title="{{ 'Delete ad'|trans }}"
                            class="btn btn-danger">{{ 'Delete ad'|trans }}</a></p>
                        {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        <br>
        <div class="container">
            <div class="row">
            <ul class="pager">
                {% if paginator.page > 1 %}
                    {% set previous = (paginator.page - 1) %}
                    <li class="previous">
                        <a href="{{ url('/ads/', {'page': previous}) }}" title="{{ 'Previous page'|trans }}">
                        <span aria-hidden="true">&larr;</span> {{ 'Previous page'|trans }}</a></li>
                    {%  endif %}
                    {% if paginator.page < paginator.pagesCount %}
                        {% set next = (paginator.page + 1) %}
                        <li class="next">
                            <a href={{ url('/ads/', {'page': next}) }}" title="{{ 'Next page'|trans }}">
                            {{ 'Next page'|trans }} <span aria-hidden="true">&rarr;</span> </a> </li>
                {% endif  %}
            </ul>
            </div>
        </div>

    {% else %}
    <div class="alert alert-danger" role="alert">
        {{ 'Ads not found'|trans }}
    </div>
    {% endif %}
    {% for flashMessage in app.session.getFlashBag.get('message') %}
    <div class="alert alert-{{ flashMessage.type }}" role="alert">
        {{ flashMessage.content }}
    </div>
    </div>
    {% endfor %}
{% endblock %}
