{# Add action template for Albums controller #}
{% extends 'base.twig' %}
{% block title %}{{  'Add category'|trans }}{% endblock %}
{% block content %}
    <hr>
    <h1 class="intro-text text-center">
        {{ 'Add category'|trans }}
    </h1>
    <hr>
    <form action="{{ url('categories_add') }}" method="post">
        {{ form_widget(form) }}
        <input type="submit" name="submit" class="btn btn-primary" value="{{ 'Save'|trans }}" />
        <a href="{{ url('categories_index') }}" class="btn btn-default">{{ 'Cancel'|trans }}</a>
    </form>
{% endblock %}