{# Add action template for Albums controller #}
{% extends 'base.twig' %}

{% block title %}{{  'Add category'|trans }}{% endblock %}

{% block content %}
    <div class="thumbnail">
    <h1>
        {{ 'Add category'|trans }}
    </h1>
    <form action="{{ url('categories_add') }}" method="post">
        {{ form_widget(form) }}
        <input type="submit" name="submit" class="btn btn-primary" value="{{ 'Save'|trans }}" />
        <a href="{{ url('categories_index') }}" class="btn btn-default">{{ 'Cancel'|trans }}</a>
    </form>
    </div>
{% endblock %}