{# Index action template for Categories controller #}
{% extends 'base.twig' %}
{% block title %}{{  'Categories list'|trans }}{% endblock %}
{% block content %}
<div class="jumbotron">
    <h1 class="text-center">{{ 'Advertising service'|trans }}</h1>
        <p class="text-center">{{ 'What are you looking for'|trans }}?</p>
</div>
<div class="thumbnail">
    {%  if categories|length > 0 %}
    <table class="table table-hover ">
        <thead>
            <tr class="active">
                <th></th>
                <th class="text-center"><h4><b>{{ 'Name'|trans }}</b></h4></th>
                <th colspan="4">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr class="text-center bg-info">
                <td></td>
                <td >
                    <h4><a href="{{ url('categories_view', {'id': category.idcategory}) }}"
                       title="{{ 'View category'|trans }}"
                       class="btn btn-primary btn-lg">{{ category.category_name|e }}</a></h4>
                </td>
                <td>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ url('categories_edit', {'id': category.idcategory}) }}"
                       title="{{ 'Edit category'|trans }}"
                       class="btn btn-default">{{ 'Edit category'|trans }}</a>

                    <a href="#"
                       title="{{ 'Set moderator'|trans }}"
                       class="btn btn-default">{{ 'Set moderator'|trans }}</a>

                    <a href="{{ url('categories_delete', {'id': category.idcategory}) }}"
                       title="{{ 'Delete category'|trans }}"
                       class="btn btn-danger">{{ 'Delete category'|trans }}</a>
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        <ul class="pager">
            {% if paginator.page > 1 %}
                {% set previous = (paginator.page - 1) %}
                <li class="previous">
                    <a href="{{ url('categories_index', {'page': previous}) }}" title="{{ 'Previous page'|trans }}">
                        <span aria-hidden="true">&larr;</span> {{ 'Previous page'|trans }} </a></li>
            {%  endif %}
            {% if paginator.page < paginator.pagesCount %}
                {% set next = (paginator.page + 1) %}
                <li class="next">
                    <a href="{{ url('categories_index', {'page': next}) }}" title="{{ 'Next page'|trans }}">
                        {{ 'Next page'|trans }} <span aria-hidden="true">&rarr;</span></a></li>
            {% endif  %}
        </ul>
    </div>
        {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ url('categories_add') }}" class="btn btn-default" title="{{ 'Add category'|trans }}">
        {{ 'Add category'|trans }}
    </a>
            {% endif %}
    {% else %}
    <div class="alert alert-danger" role="alert">
        {{ 'Categories not found'|trans }}.
    </div>
    {% endif %}
    {% for flashMessage in app.session.getFlashBag.get('message') %}
    <div class="alert alert-{{ flashMessage.type }}" role="alert">
        {{ flashMessage.content }}
    </div>
</div>
    {% endfor %}
{% endblock %}