{% extends 'base.twig' %}

{% block content %}
    {% if ads|length > 0 %}
        <div>
        {% for ad in ads %}
            <div class="thumbnail">
                <h2>

                    <h2 >
                        <a href="{{ url('ads_view', {'id': ad.idad|e}) }}" title="View ad">
                            {{ ad.ad_name|e }}
                        </a>
                    </h2>
                    <small>{{ ad.ad_date|e }}</small>
                    <hr>
                </h2>
                <p>{{ ad.ad_contence|slice(0,20) }}...</p>

            </div>
        {% endfor %}
        <a href="{{ url('categories_index') }}" class="btn btn-default">{{ 'Back'|trans }}</a>
    {% else %}
        <div class="thumbnail">
        <p>
            Didn't found any ads. Sorry.
        </p>
            <a href="{{ url('categories_index') }}" class="btn btn-default">{{ 'Back'|trans }}</a>

            </div>
        </div>
    {% endif %}
{% endblock %}
