{# Delete action template for Comments controller #}
{% extends 'base.twig' %}
{% block title %}{{  'Delete comment'|trans }}{% endblock %}
{% block content %}
    <hr>
    <h2 class="intro-text text-center">
        {{ 'Delete comment'|trans }}
    </h2>
    <hr>
    <div>
        <h3>
            {{  'Do you really want to delete this'|trans }}
        </h3>
        <form action="#" method="post">
            {{ form_widget(form) }}
            <input class="btn btn-danger" type="submit" name="submit" value="{{ 'Delete'|trans }}" />
            <a href="{{ url('/ads/') }}" class="btn btn-default">{{ 'Cancel'|trans }}</a>
        </form>
    </div>
{% endblock %}