{% block comments %}
    <h2>Komentarze:</h2>
    <hr>

    <p>
        <a href="{{ url('/comments/add', {'idad': idad|e}) }}" title="Add comment">
            <button type="button" class="btn btn-success">Dodaj komentarz</button>
        </a>
    </p>

    {% for comment in comments %}

        <div class="well">
        <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" data-src="holder.js/64x64">
        </a>
        <div class="media-body">
            <h5 class="media-heading">{{ comment.comment_date|e }}</h5>
            <p>
                <b>{{ comment.contence|raw }}</b>
            </p>
            {#{% if is_granted('IS_AUTHENTICATED_FULLY') %}#}
               {#{% if comment.iduser|e == access|e %}#}
                    <p>
                        <a href="{{ url('comments_edit', {'id': comment.idcomment|e}) }}"
                           title="Edit comment">
                            <button type="button" class="btn btn-warning" w>Edytuj
                                komentarz
                            </button>
                        </a>
                        <a href="{{ url('comments_delete', {'id': comment.idcomment|e}) }}"
                           title="Delete comment">
                            <button type="button" class="btn btn-danger">Usuń
                                komentarz
                            </button>
                        </a>
                    </p>
        {#{% endif %}#}
            {#{% endif %}#}

        </div>
        </div>
        </div>

    {% endfor %}
{% endblock %}