{# Index action template for Admins controller #}
{% extends 'base.twig' %}
{% block title %}{{  'Users list'|trans }}{% endblock %}
{% block content %}
    <div class="thumbnail">
    {%  if admins|length > 0 %}
        <table class="table table-hover ">
            <thead>
            <tr class="active">
                <th class="text-center">{{ 'Login'|trans }}</th>
                <th class="text-center">{{ 'Surname'|trans }}</th>
                <th class="text-center">{{ 'Firstname'|trans }}</th>
                <th class="text-center">{{ 'Role'|trans }}</th>
                <th class="text-center">{{ 'Email'|trans }}</th>
                <th colspan="4">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% for admin in admins %}
                <tr class="text-center">
                    <td>
                       <a href="{{ url('admins_view', {'id': admin.iduser}) }}"
                           title="{{ 'View admin'|trans }}">{{ admin.login|e }} </a>

                    </td>
                    <td>
                        {{ admin.surname }}
                    </td>
                    <td>
                        {{ admin.firstname }}
                    </td>
                    <td>
                        {{ admin.role_name }}
                    </td>
                    <td>
                        {{ admin.email }}
                    </td>
                    <td>
                        <a href="{{ url('admins_role', {'id': admin.iduser}) }}"
                           title="{{ 'Change users role'|trans }}"
                           class="btn btn-default">{{ 'Change users role'|trans }}</a>
                        <a href="{{ url('admins_delete', {'id': admin.iduser}) }}"
                           title="{{ 'Delete user'|trans }}"
                           class="btn btn-danger">{{ 'Delete user'|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div>
            <ul class="pager">
                {% if paginator.page > 1 %}
                    {% set previous = (paginator.page - 1) %}
                    <li class="previous">
                        <a href="{{ url('admins_index', {'page': previous}) }}" title="{{ 'Previous page'|trans }}">
                            <span aria-hidden="true">&larr;</span> {{ 'Previous page'|trans }} </a></li>
                {%  endif %}
                {% if paginator.page < paginator.pagesCount %}
                    {% set next = (paginator.page + 1) %}
                    <li class="next">
                        <a href="{{ url('admins_index', {'page': next}) }}" title="{{ 'Next page'|trans }}">
                            {{ 'Next page'|trans }} <span aria-hidden="true">&rarr;</span></a></li>
                {% endif  %}
            </ul>
        </div>

    {% else %}
        <div class="alert alert-danger" role="alert">
            {{ 'Users not found'|trans }}.
        </div>
    {% endif %}
    {% for flashMessage in app.session.getFlashBag.get('message') %}
        <div class="alert alert-{{ flashMessage.type }}" role="alert">
            {{ flashMessage.content }}
        </div>
        </div>
    {% endfor %}
{% endblock %}