{# Role action template for Admins controller #}
{% extends 'base.twig' %}
{% block title %}{{  'Change users role'|trans }}{% endblock %}
{% block content %}
    <hr>
    <h1  class="intro-text text-center">
        {{ 'Change users role'|trans }}
    </h1>
    <hr>
    <div class="col-md-3"></div>
    <div class="col-md-6">
    <form action="" method="post">
        {{ form_start(form)  }}
        <div class="form-group">
            {{ form_row(form.idrole) }}
        </div>
        <input type="submit" name="submit" class="btn btn-primary" value="{{ 'Save'|trans }}" />
        <a href="{{ url ('admins_index' )}}" class="btn btn-default">{{ 'Cancel'|trans }}</a>
        {{ form_end(form) }}

    </form>
    </div>
{% endblock %}