{# Edit action template for Users controller #}
{% extends 'base.twig' %}
{% block title %}{{  'Edit user information'|trans }}{% endblock %}
{% block content %}
    <hr>
    <h2 class="intro-text text-center">
        {{  'Edit user information'|trans }}
    </h2>
    <hr>
    <form action="" method="post">
        {{ form_widget(form) }}
        <input type="submit" name="submit" class="btn btn-primary" value="{{ 'Save'|trans }}" />
        <a href="{{ url('/ads/') }}" class="btn btn-default">{{ 'Cancel'|trans }}</a>
    </form>
{% endblock %}