{# Index action template for Users controller #}
{% extends 'base.twig' %}
{% block title %}{{  'Users list'|trans }}{% endblock %}
{% block content %}
    <div class="thumbnail">
    {%  if users|length > 0 %}
        <table class="table table-hover ">
            <thead>
            <tr class="active">
                <th class="text-center">{{ 'Login'|trans }}</th>
                <th class="text-center">{{ 'Surname'|trans }}</th>
                <th class="text-center">{{ 'Firstname'|trans }}</th>
                <th class="text-center">{{ 'Role'|trans }}</th>
                <th class="text-center">{{ 'Email'|trans }}</th>
                <th colspan="4">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr class="text-center">
                    <td>
                        <a href="{{ url('users_view', {'id': user.iduser}) }}"
                           title="{{ 'View user'|trans }}">{{ user.login|e }}</a>
                    </td>
                    <td>
                        {{ user.surname }}
                    </td>
                    <td>
                        {{ user.name }}
                    </td>
                    <td>
                        {{ user.role_name }}
                    </td>
                    <td>
                        {{ user.email }}
                    </td>
                    <td>
                        <a href="#"
                           title="{{ 'Edit user'|trans }}"
                           class="btn btn-default">{{ 'Edit user'|trans }}</a>
                        <a href="#"
                           title="{{ 'Delete user'|trans }}"
                           class="btn btn-danger">{{ 'Delete user'|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ url('users_register') }}" class="btn btn-default" title="{{ 'Add user'|trans }}">
            {{ 'Add user'|trans }}
        </a>
    {% else %}
        <div class="alert alert-danger" role="alert">
            {{ 'Users not found'|trans }}.
        </div>
    {% endif %}
    {% for flashMessage in app.session.getFlashBag.get('message') %}
        <div class="alert alert-{{ flashMessage.type }}" role="alert">
            {{ flashMessage.content }}
        </div>
        </div>
    {% endfor %}
{% endblock %}