{# View action template for Users controller #}
{% extends 'base.twig' %}

{% block content %}

    <div>
        <hr>
    {% if user|length > 0 %}
        <h2 class="intro-text text-center">{{ user.login|capitalize }}</h2>
        <hr>
        <ul class="list-group center-block">
            <li class="list-group-item">{{ 'Login'|trans|upper }}:   <b> {{ user.login|capitalize }} </b></li>
            <li class="list-group-item">{{ 'Email'|trans|upper }}:   <b> {{ user.email|e}} </b></li>
            <hr>
            <li class="list-group-item">{{ 'Firstname'|trans|upper }}:   <b> {{ user.firstname|capitalize }} </b></li>
            <li class="list-group-item">{{ 'Surname'|trans|upper }}: <b> {{ user.surname|capitalize }}</b></li>
            <li class="list-group-item">{{ 'Street'|trans|upper }}:   <b> {{ user.street|e }}</b></li>
            <li class="list-group-item">{{ 'City'|trans|upper }}:    <b>{{ user.city_name|capitalize }} </b></li>
            <li class="list-group-item">{{ 'Province'|trans|upper }}: <b>{{ user.province_name|e }}</b></li>
            <li class="list-group-item">{{ 'Country'|trans|upper }}:  <b>{{ user.country_name|capitalize }}</b></li>
        </ul>

        <a href="{{ url('users_edit', {'id': user.iduser}) }}"
           title="{{ 'Edit user'|trans }}"
           class="btn btn-default">{{ 'Edit user'|trans }}</a>
        <a href="{{ url('users_password', {'id': user.iduser}) }}"
           title="{{ 'Change password'|trans }}"
           class="btn btn-warning">{{ 'Change password'|trans }}</a>
        <a href="{{ url('users_delete', {'id': user.iduser}) }}"
           title="{{ 'Delete profile'|trans }}"
           class="btn btn-danger">{{ 'Delete profile'|trans }}</a>
        {% else %}
            <p class="text-center"><a href="{{ url('users_data') }}" class="btn btn-lg btn-primary text-center">
                    {{ 'Finish the registration'|trans }}</a></p>
        {% endif %}
    </div>
{% endblock %}